# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Scientists
- List common libraries for Data Scientists
- Create a table for tools for Data Scientists 
- Practice arithmetic with comment lines

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow
4. PyTorch

| Data Science Tools |
| ------|
| Jupyter |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Faith Johanson